body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #74ebd5, #acb6e5);
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    text-align: center;
    font-size: 24px;
    color: #007BFF;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input, select, button {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  button {
    background: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  button:hover {
    background: #0056b3;
  }
  
  #result {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
  }
  
  #result span {
    font-weight: bold;
  }
  
  #chart-section {
    text-align: center;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: none; /* Grafik tidak terlihat sampai di-scroll */
    padding: 20px;
    transition: transform 0.5s, opacity 0.5s;
  }
  
  #chart-section.visible {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }
  